<%- include('header.ejs')%>

<div class="use_full_links">
    <h2 class="extra-heading">Cancellation Policy</h2>
    <p>Trendlook reserve right to cancel any order without any explanation. We ensure you, communication of cancelation of an order or refund will be done in a reasonable time.</p>
    <p>1) You can cancel the order from the My Order Section in Account before the order is dispatched.</p>
    <p>2) If the order is already shipped, we won't be able to cancel it. However, you can refuse to accept the shipment and the amount will be refunded to your account.</p>
    <p>3) The full amount will be refunded to your account, including your shipping charges if any.</p>
    <p>*If your query is not solved you can email us all details or also, you can contact our customer service representative directly at +91 9392286267 between 10.30 am to 06.00 pm (Monday - Saturday).</p>

</div>


<%- include('footer.ejs')%>