<%- include('header.ejs')%>

<div class="use_full_links">
    <h2 class="extra-heading">Shipping Policy</h2>
    <p>We know how important is to receive your order on time, so we have the Best Courier Partners to deliver your product to you as soon as we can. We know how important is to receive your order on time, so we have the Best Courier Partners to deliver your product to you as soon as we can.</p>

    <h3 class="side-heading">Standard Delivery</h3>

    <p>We have a standard delivery option in which, the product will be dispatched in 24-48 hours of the order.</p>
    <p>Order will be delivered to you within 7 days from the day your order got placed.</p>

    <h3 class="side-heading">Shipping Charges are as follows:</h3>   

    <div class="table">
        <div class="row">
            <div class="col-3">
                <div class="row table-heading">Value of Order</div>
                <div class="row">below Rs. 750/-</div>
                <div class="row">Rs. 751-1500/-</div>
                <div class="row">Rs. 1500 and Above</div>
            </div>
            <div class="col-3">
                <div class="row table-heading">Shipping Charges</div>
                <div class="row">Rs. 50/-</div>
                <div class="row">Rs. 100/-</div>
                <div class="row">Free</div>

            </div>

        </div>
    </div>

    <p>*If you don't receive your order in 7-10 Days, please email us with all the details or you may contact us at +91 9667976977 between 10.30 - 06.00 on Monday to Saturday.</p>
    <p>*For every COD Order above 5000, customer have to make half payment before the order dispatch.</p>
</div>


<%- include('footer.ejs')%>